@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
html{padding: 0;margin: 0;box-sizing: border-box;}
*{outline: none;text-decoration: none;color: unset;}
body{padding: 0; margin: 0;font-family: 'Raleway', sans-serif;background-color: whitesmoke;}
:root {
  --blu: #00AFFF;
}
 /* ScrollBar_____________________________ */
 html {
  --scrollbarBG: #000000;
  --thumbBG: #129BDB;
}
body::-webkit-scrollbar {
  width: 5px;

}
body {
  scrollbar-width:thick;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);

}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 5px;
  border: 0px solid var(--scrollbarBG);
}
/* NAV */
.top{
    z-index: 7;
    height: 7vh;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}
.top img{
    position: fixed;
    top: 1vh;
    left: calc(50% - 48px);
    width:90px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ------Side Menu-------- */
.menuToggle{
  transition: 0.4s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 6px;
  margin: 6px;
  width: 48px;
  height: 48px;
  background: url("../media/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: inset 5px;
  background-size: 30px;
  cursor: pointer;
  z-index: 99;
}
.nav{
  backdrop-filter: blur(15px);
  border-radius: 20px 0 0 20px;
  position: fixed;
  top: 0;
  left: calc(100% - 0px);
  width: 100%;
  height: 100%;
  background: #129bdbbf;
  z-index: 11;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.4s ease;
}
.nav *{box-sizing: border-box;}
.nav.active{
  left: 80vw;
}
.nav ul{
  margin-bottom: -3%;
  text-align: center;
  margin-left: 4.5%;
}
.nav ul li{
  padding: 17px 0;
  position: relative;
  list-style: none;
  text-align: center;
}
.nav ul li a{
  transition: 0.2s ease-in-out;
  font-size: 2em;
  letter-spacing: 4px;
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}
.fa{
  font-size: 27px;
}
.nav ul li a:hover{
  color: #000000;
}
.socialBar{
  position: absolute;
  top:0;
  left: 12px;
  width: 60px;
  height: 100%;
  border-right:1px solid rgba(0, 0, 0, 0.712) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialBar .emailBx{
  position: absolute;
  bottom: 25px;
  transform: scale(0.6);

}
.menuToggle.active{
  border-radius: 0px;
  width: 50px;
  height: 50px;
  margin: 0;
  background: #ff0011cc url( "https://raw.githubusercontent.com/denizsulmaz/portfoliocdn/main/close.png");
  transform:rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
  padding: inset 5px;
  background-size: 25px;
  cursor: pointer;
}

/* -------MAIN | Landing ----- */
main{
    background-color: black;
    color: white;
}
.landing{
    height: 75vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing h1{font-size: 60px;
font-weight: 500;
text-shadow: 0 0 20px #36C0FF;
margin-bottom: 0;
letter-spacing: 3px;
}
.landing h3{font-size: 18px;
font-weight: 400;
opacity: 0.7;
display: none;
}
.world{overflow: hidden;margin: 0 20vw;display: flex;justify-content: center;align-items: center;padding-bottom: 10vh;}
.world img{width: 100%;}

/* --- Services---- */

.servicesHeader{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 33px;
    font-weight: 400;
    text-align: center;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh;
}
.chain{width: 100px;margin-top: -180px;}
.block{
    max-width: 225px;
    margin: 0;
    text-align: center;
}
.block img{
    margin-top: 0px  !important;
    border: 4px solid rgb(0, 0, 0);
    padding: 30px;
    border-radius: 23px;
    width: 125px;
    display: block;
    margin: auto;
    height: 125px;
    filter: grayscale(1);
    transition: 0.3s ease-in-out;
}
.block:hover img{
  border: 4px solid #129BDB;
  background-color: #129BDB;
  border-radius: 27px;
  filter: none !important;
}
.block:hover h4{
  color:var(--blu);
}
.block img::after{
  background-image: url('../media/chain.png');
  background-size: 100%;
  width: 200px;
  content: url('../media/chain.png');
}
.block h4{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    transition: 0.3s ease-in-out;
}
.block p{font-size: 15px;}
/* ---Major cards--- */
.mjr{margin: 15vh 10vw;border-radius: 30px;height: 2px;background-color: black;}
.major{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 5vh 10vw;
}
.major img{
  width: 60%;
  height: 100%;
  border-radius: 20px;
  border: none;outline: none;
}
.major .row .text{
  height: 80%;
    width: 98%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0px 14px 14px 0px;
    background: rgba(193, 165, 148, 0.192);
}
.major .row:nth-of-type(2) .text{
    border-radius: 14px 0px 0px 14px;
}
.major .row{
    border-radius: 20px;
    margin-bottom: 5vh;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.major .row:nth-of-type(2){
  border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.clients{
    height: 30vh;
    background-color: #F7F0EC;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clients h1{color: #c1a594;margin-bottom: -8px;}
.clients .row{border-top: 5px solid #c1a594;border-bottom: 5px solid #c1a594;
height: 18vh; width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.clients a{
    margin: 0 1vw;
    border-radius: 20px;

}
.clients .row a img{
    width: 160px;
    height: 110px;
    background-color: rgba(128, 128, 128, 0.445);
    border-radius: 20px;
}
/* ---- */
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 86vw;
    margin: 15vh 7vw;
    margin-top: 20vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    max-width: 280px;
    height: 350px;
    margin: 20px;
    padding: 10px;
    /* background-color: #07132D; */
    border: 4px solid #07132D;
    color: #07132D;
    border-radius: 23px;
    text-align: center;
}
.card{cursor: pointer !important;}
.card img{
    margin-top: 20px;
    width: 90%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.card h3{
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 20px;
}
.card p{
    line-height: 135%;
    letter-spacing: 1px;
    font-size: 14px;
    color: #07132D;
    opacity: 1;
}
/* ----Contact Line ---  */
.contactLine{
    background: url('../media/cntct.png');
    background-size: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    margin-bottom: 20vh;
}
.contactLine .row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 7.5vw;
    color: white;
}
.contactLine .left{
    width: 40%;
    padding-right: 10%;
    display: flex;
    align-items: center;
}
.left .ln{height: 18vh;width: 7px;background-color: white;border-radius: 100px;margin-right: 20px;}
.left h2{
    letter-spacing: 2px;
    font-size: 27px;
    font-weight: 500;
    line-height: 170%;
}
.contactLine .right{
    width: 40%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right h3{
    letter-spacing: 1px;
    opacity: 0.7;
}
.right .mail{
    color: var(--blu);
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
}
.right .mailBtn {
  background-color: var(--blu);
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 6px;
  letter-spacing: 3px;
  border: 2px solid var(--blu);
  transition: 0.3s ease-in-out;
}
.right .mailBtn:hover{
    border: 2px solid white;
    background-color: unset;
}
/* -----Footer---- */
footer{
    height: 30vh;
    background: #183354;
}
footer .logo{
    width: 250px;
    display: block;
    margin:0 auto;
}
footer .logo img{width: 250px;margin-top: -50px;
}
footer hr{background-color: white;} 
footer .row{
    margin: 10vh 5vw 4vh 5vw;
    display: flex;
}
.ftLeft{width: 82%;
font-size: 20px;
}
.ftLeft ul{
    display: flex;
}
.ftSocial{display: flex;justify-content: flex-end;margin-top: 2.5vh;}
.ftSocial li{margin-left: 30px;}
.ftLeft li:hover{margin-top: -4px !important;}
.ftLeft li{margin-right: 20px;
color: white;
transition: 0.2s ease-in-out;
}
.ftRight{width: 17%;}
/* ---Alt Bar--- */
.altBar{
    padding: 2vh 5.5vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.645);
}
.altBar address a{font-size: 17px;}
.alt{width: 400px;}
.alt:nth-of-type(2){
    text-align: right;
}

@media only screen and (max-width:900px) {
  .top {height: 7.5vh;}
  .top img {top: 1.7vh;left: 15px;width: 65px;}
  .menu-toggle img {width: 35px;}
  /* SideBar----- */
  .menuToggle{
    transition: 0.4s ease-in-out;
    position: fixed;
    top: 0;
    right: 10px;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    padding: inset 5px;
    background-size: 25px;
    cursor: pointer;
    z-index: 12;
}
.nav{
    backdrop-filter: blur(25px);
    border-radius: 35px 0 0 35px;
    position: fixed;
    top: 0;
    left: calc(100% - 0px);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.853);
    z-index: 11;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.4s ease;
}
.nav *{box-sizing: border-box;}
.nav.active{
    left: 25vw;
}
.nav ul{
    text-align: center;
    margin-left: 4%;
}
.nav ul li{
    padding-bottom: 20px;
    position: relative;
    list-style: none;
    text-align: center;
}
.nav ul li a{
    transition: 0.2s ease-in-out;
    font-size: 1.8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}
.fa{
    font-size: 27px;
}
.nav ul li a:hover{
    color: #4755b1;
  }
.socialBar{
    position: absolute;
    top:0;
    left: 12px;
    width: 60px;
    height: 100%;
    border-right:1px solid rgba(0, 0, 0, 0.712) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialBar .emailBx{
    position: absolute;
    bottom: 25px;
    transform: scale(0.6);

}
.menuToggle.active{
    width: 46px;
    height: 46px;
    transform:rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    padding: inset 5px;
    background-size: 25px;
    cursor: pointer;
}
/* ---SideBarF */
  /* -- */
  body{width: 100vw;overflow-x: hidden;}
  .landing{
    height: 50vh;
  }
  .landing h1{
    font-size: 30px;
  }
  .landing p{
    font-size: 16px;
  }
  main{
    margin-bottom: -2px;
  }
  .world img{
    width: 200%;
  }
  .services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 2vw;
    width: 100vw;
    overflow-x: scroll;
  }
  .block {
    padding: 8px;
    max-width: 90vw !important;
    margin: 3vh 3vw;
    height: 45vh;
  }
  .block img {
    margin-top: 0px !important;
    background-color: rgba(128, 128, 128, 0.136);
    width: 180px;
    height: 180px;
  }
  .block h4{font-size: 18px;margin-top: 5px;}
  .block p {font-size: 13px;margin-top: 3px;}

  .mjr{
    margin: 5vh 0;
    background-color: #f7f0ec00;
    border: none;
  }
  /* -- */
  .major{
    margin: 3vh 4vw;
  }
  .major .row{
    height: 45vh;
    margin-bottom: 2vh;
    flex-direction: column;
  }
  .major .row:nth-of-type(2){
    flex-direction: column;
  }
  .major .row .text {
    width: 100%;
    margin-left: 0%;
  }
  .major .text h2{
    margin: 2px 0;
    font-size: 18px;
  }
  .major .text p{
    margin: 1px 0;
    font-size: 15px;
  }
  /* ---- */
  .clients .row{
    width: 100vw;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  /* --- */
  .FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100vw;
    margin:5vh 0;
    overflow: auto;
    flex-direction: row;
}
.FlexContainer div {
  min-width: 280px;
  height: 350px;
  margin:0 -20px;
  transform: scale(0.8);
}
.FlexContainer div:nth-of-type(1){
  margin-left: 0;
}
/* --- */
.contactLine {
  background: url(../media/cntct.png);
  background-size: 200%;
  height: 40vh;
  display: flex;
  align-items: center;
  margin-bottom: 20vh;
}
.contactLine .row{
  flex-direction: column;
}
.right h3 {
  display: none;
}
.contactLine .left {
  width: 100%;
  padding-right: 3%;
  display: flex;
  align-items: flex-end;
}
.left .ln {
  height: 12vh;
  width: 7px;
  background-color: white;
  border-radius: 100px;
  margin: 2vh  0;
  margin-right: 10px;
}
.left h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.contactLine .right {
  width: 100%;
  padding-left: 0%;
}
.right .mail {
  margin-top: 2vh;
  color: var(--blu);
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}
.right .mailBtn {
  margin-bottom: 2vh;
}
/* --- */
footer{
  height: 35vh;
}
footer .logo {width: 180px;}
footer .logo img {
  width: 180px;
  margin-top: -30px;
}
footer .row {
  margin: 7vh 5vw 4vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ftLeft {
  width: 100%;
  font-size: 20px;
}
.ftLeft li {
  margin-right: 13px;
  color: white;
  transition: 0.2s ease-in-out;
}
.ftRight {
  width: 100%;
}
.ftSocial {
  display: flex;
  justify-content: center;
  margin-top: 1.5vh;
  transform: scale(0.9);
}
/* -- */
.alt:nth-of-type(2) {
 display: none;
}
.altBar {
  text-align: center !important;
  padding: 2vh 5.5vw;
  flex-direction: column-reverse;
  justify-content: center;
}
.altBar a{
  margin-bottom: 10px;
}
.altBar a img{
  width: 50px;
}
.chain{display: none;}
}
